@tailwind base;
@tailwind components;
@tailwind utilities;



dialog::backdrop {
  background: rgb(223, 229, 231);
  opacity: .7;
}




.animating-box-show {
  animation: slideDown 1s ease forwards;
  opacity: 0;
}

@keyframes slideDown {
  0% {
    /* transform: translateY(-100%); */
    margin-bottom: -100px;
    opacity: 0;
  }
/* 
  50%{
    transform: translateY(-50%);
    margin-bottom: 50px;
    opacity: 0.5;
  } */
  75%{
    opacity: 1;
  }

  100% {
    /* transform: translateY(0%); */
    
    opacity: 1;
    margin-bottom: 0px;
  }
}

.animating-box-hide {
  animation: slideUp 1s forwards;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    margin-bottom: 0;
    opacity: 1;
  }

  100% {
    margin-bottom: -64px;
    opacity: 0;
  }
}

/* .movedown {
  animation: movedown 1s ease forwards;
}

@keyframes movedown {
  0% {
    margin-bottom: 0;
  }
  50%{
    margin-bottom: 50px;
  }

  100% {
    margin-bottom: 0px;
  }
}



.moveup {
  animation: moveup 1s ease forwards;
}

@keyframes moveup {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 100px;
  }
}
 */


 div,button,input,select{
  outline: none;
 }