@tailwind base;
@tailwind components;
@tailwind utilities;



dialog::backdrop{
    background:rgb(223, 229, 231);
    opacity: .7;
}


#myDiv {
    transition: opacity 2.5s ease; /* Fade transition */
  }
  
  .disappear {
    opacity: 1;
  }
  
  .disappear-animation {
    opacity: 0;
  }
  
  @keyframes myAnimation {
    /* Define your animation */
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
  
  .my-animation {
    animation: myAnimation 2.5s ease forwards; /* Animation that scales down */
  }